.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
}
.tasks{
  width: 60%;
}

.todoContainer:hover,
.todoContainer:focus,
.todoContainer:active {
  color: #0070f3;
  border-color: #0070f3;
}

.title a:hover,
.title a:focus,
.title a:active {
  color: #0070f3;
  border-bottom: 1px solid #0070f3;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
